@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body {
    font-family: 'Varela', serif;
    background: #EAEAEA;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

a {
    color: #833232;
}

a:hover {
    font-weight: bold;
}

svg {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    fill: #121935;
}

svg:hover {
    fill: #833232;
}
  
.socialmediaicons {
    display: flex;
    justify-content: center;
}